<template>
  <div class="text-center">
    <v-dialog scrollable v-model="dialog" :width="dialogWidth()">
      <template v-slot:activator="{ on }">
        <v-icon v-on="on">fas fa-download</v-icon>
      </template>
      <slot />
    </v-dialog>
  </div>
</template>
<script>
export default {
  data() {
    return {
      dialog: false
    }
  },
  methods: {
    dialogWidth() {
      const A4widthInPxString = getComputedStyle(
        document.documentElement
      ).getPropertyValue("--width-cv")
      const A4width = A4widthInPxString.match(/\d+/)[0]
      const em = 16
      let widthPlusPadding = Number(A4width) + em * 5 + "px"
      return widthPlusPadding
    }
  }
}
</script>
