<template>
  <v-card class="popup-card">
    <v-toolbar color="grey lighten-2">
      <v-toolbar-title>Download CV as:</v-toolbar-title>
      <v-btn @click="downloadPdf()" icon>
        <v-icon>far fa-file-pdf</v-icon>
      </v-btn>
      <v-btn @click="downloadPng()" icon>
        <v-icon>far fa-image</v-icon>
      </v-btn>
    </v-toolbar>
    <div class="overflow-auto-A4">
      <v-container fluid class="container-A4 A4-size">
        <slot />
      </v-container>
    </div>
  </v-card>
</template>

<script>
import html2canvas from "html2canvas"
import { saveAs } from "file-saver"
import * as Pdf from "jspdf"

export default {
  methods: {
    canvasToPicture(canvas) {
      canvas.toBlob(function (blob) {
        saveAs(blob, "cv-Bastiaan-Van-denabeele.png")
      })
    },
    canvasToPDF(canvas) {
      let pdf = new Pdf()
      pdf.addImage(canvas, "png", 0, 0, 210, 297)
      pdf.save("cv-Bastiaan-Van-denabeele.pdf")
    },
    htmlTwoCanvas(funct) {
      html2canvas(document.getElementById("cv-A4")).then((canvas) => {
        funct(canvas)
      })
    },
    downloadPdf() {
      this.htmlTwoCanvas(this.canvasToPDF)
    },
    downloadPng() {
      this.htmlTwoCanvas(this.canvasToPicture)
    }
  }
}
</script>

<style>
.A4-size {
  height: var(--height-cv);
  max-height: var(--height-cv);
  width: var(--width-cv);
  max-width: var(--width-cv);
}

.container-A4 {
  padding: 0;
  margin: 2em;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.603);
  border-width: 0.15em;
  border-radius: var(--tool-bar-border-radius);
}
.overflow-auto-A4 {
  overflow: scroll;
}
</style>
