<template>
  <ContentSectionCard :title="title">
    <div class="flex-hobbies padding-hobbies">
      <v-chip
        v-for="(hobby, index) in dataList"
        :key="index"
        class="margin-chip"
        color="chipColor"
        text-color="white"
      >
        {{ hobby }}
      </v-chip>
    </div>
  </ContentSectionCard>
</template>

<script>
import ContentSectionCard from "@/components/atoms/ContentSectionCard"

export default {
  name: "hobbies",

  props: {
    dataList: Array,
    title: String,
    space: {
      type: Boolean,
      default: false
    }
  },

  components: {
    ContentSectionCard
  }
}
</script>

<style scoped>
.flex-hobbies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.padding-hobbies {
  padding: 0.5em;
}

.margin-chip {
  margin: 0.5em;
}
</style>
