<template>
  <ContentSectionCard :title="title">
    <div class="flex-language">
      <template v-for="(language, name) in languages">
        <Skill
          :key="`skill-bar-${name}`"
          :level="language.level"
          :name="name"
        />
      </template>
    </div>
  </ContentSectionCard>
</template>

<script>
import ContentSectionCard from "@/components/atoms/ContentSectionCard"
import Skill from "@/components/molecules/Skill"

export default {
  name: "languages",

  props: {
    languages: Object,
    title: String
  },

  components: {
    ContentSectionCard,
    Skill
  }
}
</script>

<style scoped>
.flex-language {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0 1em 1em 1em;
  height: 100%;
}

.flex-language > * {
  height: 2em;
  margin-top: 1em;
}
</style>
