<template>
  <img
    class="avatar-size avatar-border"
    :src="require('@/assets/profilepic.jpg')"
    alt="avatar"
  />
</template>

<script>
export default {
  props: {
    size: {
      type: String,
      default: "medium"
    }
  }
}
</script>

<style>
.avatar-size {
  margin-top: 1em;
  height: 230px;
  width: 230px;
}

.avatar-border {
  border-radius: 50%;
  border-style: solid;
  border-width: 0.4em;
  border-color: var(--v-backgroundColor-darken2);
}
</style>
