<template>
  <div class="container-toolbar">
    <div class="toolbar">
      <p class="toolbar-title">{{ title }}</p>
    </div>
    <div
      :class="
        'toolbar-container-slot' + (border ? ' toolbar-container-border' : '')
      "
    >
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "ContentSectionCard",

  props: {
    title: String,
    border: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style>
.container-toolbar {
  background-color: white;
  border-radius: var(--tool-bar-border-radius);
  /* box-shadow: 1em 1em 22px -12px rgba(0,0,0,0.17); */
  overflow: hidden;
}

.toolbar {
  padding: 1em;
  padding-bottom: 0.5em;
  color: white;
  background-color: var(--v-toolbarColor-base);
}

.toolbar-title {
  margin: 0 !important;
  font-size: 1.5em;
}

.toolbar-container-slot {
  padding: 0 1em 0 1em;
}

.toolbar-container-border {
  border-style: solid;
  border-color: var(--v-backgroundColor-lighten1);
  border-width: var(--tool-bar-border-width);
  border-top-width: 0;
  border-bottom-right-radius: var(--tool-bar-border-radius);
  border-bottom-left-radius: var(--tool-bar-border-radius);
}
</style>
